<div class="back">
    <h1 class="head">Forget Password</h1>
   
    <body class="inner_body">
    <form action="">
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">email </label>
        <input type="email" id="email" name="email"
        pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
       
      </div>
   
      <div class="col-md-6">
        <label for="inputCity" class="form-label">  Enter new Password</label>
        <input type="password" class="form-control" id="inputCity" required>
      </div>
 
        <h6>Remembered? <a href="login" class="signupp">Login</a></h6>
       
        <button type="submit"   ><a href="login" class="signupp">Reset</a></button>
      </form>
    </body>
   
    <h3>
   
    </h3>
   
     
    </div>
