
<div class="back">
    <h1 class="head">LOGIN FORM</h1>
   
    <body class="inner_body">
    <form>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Username</label>
        <input type="text" class="form-control" id="inputPassword4"  required="*This field is required">
      </div>
    
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputCity" required>
      </div>

        <h6>New User? <a href="signup" class="signupp">signup</a></h6>
        <button type="submit" >Login</button>
      </form>
    </body>
   
    <h3>
   
    </h3>
   
     
    </div>
    