<div class="background">
<div class="container-fluid">
  <div class="row">
    
       
    <div class="col-sm-4 offset-1">
      <div class="card shadow" >
        <div class="card-header ">
          <h4 >Customer Login</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="fg" (submit)="validate(fg.value)" novalidate>
            <div class="form-group">
              <input
                type="email"
                formControlName="email"
                required
                name="email"
                placeholder="Email"
                class="form-control"
              /><br>
              <small
                class="form-text text-danger"
                *ngIf="submitted && fg.controls['email'].invalid"
                >User id must be given</small
              >
            </div>
            <div class="form-group">
              <input
                type="password"
                formControlName="password"
                required
                name="password"
                placeholder="Password"
                class="form-control"
              /><br>
              <small
                class="form-text text-danger"
                *ngIf="submitted && fg.controls['password'].invalid"
                >Password must be given</small
              >
            </div>
            <h6>New User? <a href="signup" class="signupp">signup</a></h6>
      <h6>Forgot Password? <a href="forgot-password" class="signupp">Click Here</a></h6><br>
            <input
              type="submit"
              value="Sign In"
              class="btn btn-primary btn-block"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</div>