<div class="signupp">
<h2>Sign Up</h2>

<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">First Name</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Phone number</label>
    <input type="number" class="form-control" id="inputPassword4"  required="*This field is required">
  </div>

  <div class="col-md-6">
    <label for="inputCity" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputCity" required>
  </div>
  <h6>Already Registerd? <a href="login" class="reg">Login</a></h6>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign up</button>
  </div>


</form>


</div>





