<!-- <app-navbar></app-navbar> -->
<!-- <app-sidebar></app-sidebar> -->

<div class="s">
   
<nav >
<!--    
    <a routerLink="/login">Login</a>
    <a routerLink="/signup">Sign Up</a> -->
    </nav>

    <div class="container">
      <div class="text-section">
        <h2>Try Loki's CRM Starter Suite for free.</h2>
        <p>Unite marketing, sales, and service in a single app. Try Loki's Starter Suite today. There's nothing to install. No credit card required.</p>
        <input type="submit" value="Sign up" class="btn btn-primary btn-block"/>
        <input type="submit" value="Demo" class="btn btn-primary btn-block"/>
      </div>
      <div class="video-section">
        <iframe width="760" height="515" src="https://www.youtube.com/embed/SlhESAKF1Tk?si=VwWQbNcqtkz1DY6K" frameborder="0" allowfullscreen ></iframe>
      </div>
    </div>
<div class="button-section">

</div>
<h2 class="sales">Learn what Loki's CRM products can do for you.</h2>

    <div class="cards">
      <div class="card" style="width: 18rem;">
          <img src="../../assets/card1.webp" class="card-img-top" alt="..."  height="150px" width="20px">
          <div class="card-body">
            <h5 class="card-title">Organization</h5>
            <p class="card-text">Sales, service, and email outreach tools in a single app.</p>
            <a href="#" class="">Learn More</a>
          </div> 
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/card2.webp" class="card-img-top" alt="..." height="150px" width="20px">
          <div class="card-body">
            <h5 class="card-title">Sales Cloud</h5>
            <p class="card-text">Close more deals and speed up growth with the #1 CRM.</p>
            <a href="#" class="">Learn More</a>
          </div> 
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/card4.webp" class="card-img-top" alt="..."  height="150px" width="20px">
          <div class="card-body">
            <h5 class="card-title">Marketing Cloud</h5>
            <p class="card-text">Build customer relationships for life with data-first digital marketing.</p>
            <a href="#" class="">Learn More</a>
          </div> 
        </div>
        
  </div>

  <input type="submit" value="View All Our Products"class="btnn btn-primary btn-block"
/>
<div class="comp">
<h1>We bring companies and customers together</h1>

</div>


</div>

<div class="containerr">
      <div class="A-section">
<img src="../../assets/1.webp" width="260" height="215">
      </div>
      <div class="B-section">
        <img src="../../assets/3.webp" width="260" height="215"> 
      </div>

      <div class="B-section">
        <img src="../../assets/2.jpg" width="260" height="215"> 
      </div>
    </div>

    

    <app-footer></app-footer>
    